amqp==2.1.4
aniso8601==1.2.0
billiard==3.5.0.2
celery==4.0.2
click==6.7
Flask==0.12.3
Flask-RESTful==0.3.5
itsdangerous==0.24
Jinja2==2.9.6
kombu==4.0.2
MarkupSafe==1.0
olefile==0.44
Pillow==8.3.2
python-dateutil==2.6.0
pytz==2017.2
redis==2.10.5
requests==2.20.0
six==1.10.0
vine==1.1.3
Werkzeug==0.12.1
